body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ride-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.ride-item h2 {
  font-size: 1.5rem;
}

.ride-item p {
  font-size: 1rem;
}

.ride-details-link {
  color: #007bff;
  text-decoration: none;
}

.ride-details-link:hover {
  text-decoration: underline;
}
